:root {
  --black: black;
}

#row {
  display: flex;
  justify-content: space-between;
}

#dark_mode-button {
  display: flex;
}

#dark_mode-button p {
  color: var(--black);
}

#dark_mode-button label {
  cursor: pointer;

  height: 1.4rem;
  width: 3rem;

  background: white;
  border: 1px solid green;
  border-radius: 5px;

  position: relative;

  display: inline-block;

  margin-left: 1rem;
}

#dark_mode-button label::after {
  content: "";

  position: absolute;

  width: 1rem;
  height: 1rem;

  left: 2px;
  top: 2px;

  border-radius: 50%;
  background-color: var(--green);

  display: block;

  transition: 0.2s;
}

#switch:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
