*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: nunito sans, sans serif;
  background: -webkit-linear-gradient(#0DD8D8, #0CA5A5, #0046A0);
  height: 100%;
}

header{
  background-color: #FFC800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
}

.logo-header img{
  border-color: black;
  border-radius: 20%;
  width: 120px;
}

.nav-menu ul{
  display: flex;
  align-items: center;
}

.nav-menu li{
  margin-right: 1.5rem;
}

.nav-menu a:hover{
  color: rgb(116, 116, 81);
  cursor: pointer;
}

.menu-icon img{
  width: 30px;
  height:30px;
  border-radius: 2px;
}

.menu-icon, #check{
  display: none;
  position: absolute;
}

.logout {
  font-size: 11px;
}

h1, h2 {
  text-shadow: 7px  4px  5px  #FFC800;
}

header {
  padding: 10px;
  color: #fff;
  text-align: center;
}

main {
  padding: 30px 50px;
}

.card {
  background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 75%;
    padding:20px;
    margin: 15px auto 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.lineInput {
  display: grid;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: 0;
}

button {
  border: 0px;
  padding: 10px;
  outline: 0;
  background-color: #ffc800;
  color: #111;
  border-radius: 1px;
  font-weight: bold;
  transition: all ease 0.3s;
}

button:hover {
  background-color: #e6b400;
  cursor: pointer;
}

.content {
  width: 100%;
  max-width: 86%;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  background-color: rgb(214, 214, 214);
  width: 100%;
  max-width: 91%;
  padding:20px;
  margin: 20px auto 0 auto;
}

table th {
  background-color: rgb(119, 118, 118);
}

table th, td {
  padding: 1px 5px;
  text-align: left;
}

td {
  background-color: #adadad;
}

table td img {
  width: 22px;
}

.center {
  text-align: center;
}

.icone{
  margin:0px auto;
  padding: 35px;
  width: 25px;
  display: inline-block;
  margin: 2px;
}

footer {
  width: 100%;
  padding: .5rem 2rem;
  text-align: center; 
}