body {
    background: -webkit-linear-gradient(#0DD8D8, #0CA5A5, #0046A0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
}


/* HEADER */

header {
    padding: 1em;
    width: 110%;
    background: #FFC800;
    position: fixed;
    top: 0;
}

.logo-header img{
    border-color: black;
    border-radius: 20%;
    width: 120px;
  }


.menu_list {
   list-style: none;
   padding: 0.01em;
   text-align: right;
   font-size: large;
}

.menu_list li {
   display: inline-block;
}

.menu_list li a {
   color:black;
   font-size: 30px;
   text-decoration: none;
}

.menu_list li a:hover{
   color:white;
}


/* MAIN/PRINCIPAL */

.bloco {
    border: 2px solid rgb(212, 184, 23);;   
    padding: 3em; 
    width: 50%;
    margin: auto;
    margin-top: 12em;
    margin-bottom: 7em;
    border-radius: 10px;
}

main h2 {
    text-align: center;
    color: white;
    font-family:'Inter', sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: bold;
}

main form {
    padding: 1em;
    text-align: center;
}

.campoInteiro, .meioCampo, #rua, #numero {
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}

.campoInteiro {
    width: 85%;
}

.meioCampo {
   width: 40%; 
}

#rua {
    width: 60%;
}

#numero {
    width: 20%;
}

#botaoContinuar {
    border-radius: 10px;
    font-weight: bold;
    width: 85%;
    height: 4em;
    margin-top: 2em;
}

#botaoContinuar:hover {
    transform: scale(1.1);
    background:rgb(212, 184, 23);
    color: rgb(0,0,0);
}


/* FOOTER */

footer {
    display: flex;
    background-color: #FFC800;
    justify-content: center;
    padding: 3em;
    margin-top: 1em;
    width: 100%;
}
 
footer p {
    color: black;
    padding-left: 4em;
    font-size: 1em;
}


footer p a { 
    color: black;
    text-decoration: none;
}   

/* TOAST */

.toast {
    margin: auto;
    width: 29%;
}




/* MEDIA QUERY - MOBILE */

@media screen and (max-width:950px) {
    
    .campoInteiro, .meioCampo, #rua, #numero, #botaoContinuar {
       width: 100%; 
       margin-left: -1em;
       margin-right: -1em;
    }
}