@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  display: inline-block;
}

nav a {
  font-size: 1.3rem;
}

.logo {
  width: 8rem;
  max-width: 10rem;
}

.navbar a {
  color: #0ca5a5;
}

.navbar a:hover {
  color: #e6b400;
  cursor: pointer;
}

/* MAIN/PRINCIPAL */
.bloco {
  flex-wrap: wrap;
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  max-width: 700px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

main {
  margin: 1rem auto;
}
main h2 {
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
  font-weight: bold;
}

main form {
  padding: 1em;
  text-align: center;
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
}

.meioCampo {
  width: 40%;
  margin: 0.7rem 0.7rem;
}

.campoInteiro {
  width: 85%;
  margin: 0.5rem 0.3rem;
}

.rua {
  width: 60%;
  margin: 0.7rem 0.6rem 0.7rem auto;
}

.numero {
  width: 20%;
  margin: 0.7rem auto 0.7rem 0.6rem;
}

.Error {
  height: 1rem;
  margin: 0 auto;
}

.invisibel {
  display: none;
}

#botaoContinuar {
  background-color: #ffc800;
  border-radius: 20px;
  font-weight: bold;
  width: 85%;
  height: 4em;
  margin-top: 2em;
}

#botaoContinuar:hover {
  background: #e6b400;
  color: #222;
}

#wave {
  z-index: -1;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer {
  margin-top: 1rem;
  bottom: 0;
}

.input span.error {
  display: flex;

  padding: 0;

  background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
  border: 1px solid red;
  padding: 0.4em;
  display: block;
}

/* MEDIA QUERY - MOBILE */

@media (max-width: 700px) {
  div {
    display: block;
  }

  .input {
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
  }

  .meioCampo {
    width: 100%;
    margin: 0.7rem auto;
  }

  .campoInteiro {
    width: 100%;
    margin: 0.5rem auto;
  }

  .rua {
    width: 100%;
    margin: 0.7rem auto 0.7rem auto;
  }

  .numero {
    width: 100%;
    margin: 0.7rem auto 0.7rem auto;
  }
}
