* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

nav {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.logo {
  max-width: 10rem;
}

.menu_list {
  list-style: none;
  padding: 0.01em;
  text-align: right;
  font-size: large;
}

.menu_list li {
  display: inline-block;
}

.menu_list li a {
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.menu_list li a:hover {
  color: white;
}

/* MAIN/PRINCIPAL */

.bloco {
  background-color: #fff;
  padding: 0.5rem;
  width: 40%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

main h1 {
  text-align: center;
  color: black;
  font-size: 2rem;
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
  font-weight: bold;
}

main form {
  padding: 1em;
  text-align: center;
}

.campoInteiro,
.meioCampo,
#rua,
#numero {
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
}

.campoInteiro {
  width: 85%;
}

.meioCampo {
  width: 40%;
}

#rua {
  width: 60%;
}

#numero {
  width: 20%;
}

#botaoContinuar {
  border-radius: 10px;
  font-weight: bold;
  width: 85%;
  height: 4em;
  margin-top: 2em;
  background-color: #ffc800;
}

#botaoContinuar:hover {
  background: #e6b400;
  color: rgb(0, 0, 0);
}

/* FOOTER */

footer {
  display: flex;
  background-color: #ffc800;
  justify-content: center;
  padding: 3em;
  margin-top: 1em;
  width: 100%;
}

footer p {
  color: black;
  padding-left: 4em;
  font-size: 1em;
}

footer p a {
  color: black;
  text-decoration: none;
}

#wave {
  z-index: -1;
  position: absolute;
  bottom: 0;
}

/* TOAST */

.toast {
  margin: auto;
  width: 29%;
}

/* MEDIA QUERY - MOBILE */

@media screen and (max-width: 1000px) {
  .bloco {
    width: 100%;
  }

  main {
    width: 80%;
  }

  .campoInteiro,
  .meioCampo,
  #rua,
  #numero,
  #botaoContinuar {
    margin: auto;
    display: block;
    width: 90%;
    margin-bottom: 1rem;
  }
}

#wave {
  bottom: 0;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(../img/waves_svg/wave-cadastro.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    flex-wrap: wrap;
  }
}
