@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nnav a {
  font-size: 1.3rem;
}

.logo {
  width: 8rem;
  max-width: 10rem;
}

.navbar a {
  color: #0ca5a5;
}

.navbar a:hover {
  color: #e6b400;
  cursor: pointer;
}

main {
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

main h1 {
  text-align: center;
  color: black;
  margin-bottom: 1rem;
}

form p {
  text-align: center;
  margin-bottom: 1.5rem;
}

form input[class='text2'] {
  background-color: #f2f2f2;
  width: 100%;
  height: 2rem;
  padding: 1.3rem;
  margin-bottom: 1rem;
  border-radius: 20px;
}

form input[class='text'] {
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 2px;
  margin: 1% 0;
  border-radius: 20px;
  text-align: center;
  transition: 1s;
}

form input[class='submit'] {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background: #ffc700;
  color: white;
  border: 0;
  border-radius: 20px;
  text-align: center;
  transition: 1s;
  margin: 1% 0;
}

form input[class='voltar'] {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background: transparent;
  color: black;
  border: 0;
  border-radius: 20px;
  text-align: center;
  transition: 1s;
  margin: 1% 0;
}

form input[class='submit']:hover {
  background-color: #e6b400;
}

form input[class='voltar']:hover {
  background-color: #d0cbc6;
}

#wave {
  z-index: -1;
  position: fixed;
  bottom: 0;
}

@media (max-width: 700px) {
  main {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
