* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/waves_svg/wave-login.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: bottom;
  height: 100vh;
  position: relative;
}

nav {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.logo {
  max-width: 10rem;
}

h1 {
  font-size: 1rem;
  color: #333;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

form {
  background-color: #fff;
  padding: 1rem;
  width: 40%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(90, 89, 89, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

form input[type='email'],
form input[type='password'] {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  padding-left: 10px;
  margin: 10px 0;
}

form input[type='submit'] {
  width: 100%;
  height: 30px;
  cursor: pointer;
  background-color: #ffc800;
  color: black;
  border: 0;
  border-radius: 20px;
  transition: 1s;
}

form input[type='submit']:hover {
  background-color: #e6b400;
}

.cadastre-se,
.esqueci-senha {
  cursor: pointer;
  display: inline-block;
  margin: 8px;
}

div a {
  font-weight: bold;
  color: black;
}

.icone {
  margin: 0px auto;
  padding: 35px;
  width: 25px;
  display: inline-block;
  margin: 2px;
}

footer {
  width: 100%;
  margin: auto;
}

#wave {
  z-index: -1;
  position: absolute;
  bottom: 0;
}
