body {
  font-family: nunito sans, sans serif;
  background: -webkit-linear-gradient(#0caaf1, #0ca5a5);
  height: 100vh;
}

header {
  padding: 10px;
  color: #fff;
  text-align: center;
}

main {
  padding: 30px 50px;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
}

.lineInput {
  display: grid;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: 0;
}

button {
  border: 0px;
  padding: 10px;
  outline: 0;
  background-color: #ffc800;
  color: #111;
  border-radius: 1px;
  font-weight: bold;
  transition: all ease 0.3s;
}

button:hover {
  background-color: #e6b400;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

table th {
  background-color: #adadad;
}

table th,
td {
  padding: 1px 5px;
  text-align: left;
}

td {
  background-color: rgb(240, 240, 240);
}

table td img {
  width: 22px;
}

.center {
  text-align: center;
}
